* {
    margin: 0;
    padding: 0;
    max-width: 1920px;
}

@font-face {
    font-family: 'regular';
    src: url('../fonts/JosefinSans-Regular.woff') format('woff'),

}

@font-face {
    font-family: 'light';
    src: url('../fonts/JosefinSans-Light.woff') format('woff'),

}

@font-face {
    font-family: 'medium';
    src: url('../fonts/JosefinSans-Medium.woff') format('woff'),

}

@font-face {
    font-family: 'bold';
    src: url('../fonts/JosefinSans-Bold.woff') format('woff'),

}



body {
    font-family: 'medium';
}

body::-webkit-scrollbar {
    display: none;
}
img {
    width: 100%;
    display: block;
}

a {
    color: black;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;

}

ul {
    list-style: none;
}

.wrapper {
    padding: 0 50px;
}

header {
    height: 100px;
    background: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 1;
    width: 100%;
    color: white;
}

header > .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

header > .wrapper > .left > .logo-wrapper {
    display: flex;
    align-items: center;
}

header > .wrapper > .left > .logo-wrapper > h3 {
    font-size: 20px;
    font-family: 'bold';

}

header > .wrapper > .left > .logo-wrapper > .logo-container {
    width: 90px;
}

header > .wrapper > .right > ul {
    display: flex;
}

header > .wrapper > .right > ul > li {
    margin-right: 15px;
    font-size: 25px;
}

header > .wrapper > .right > ul > li > a {
    color: white;
    font-family: 'medium';
}

#landing-page > .splide__track > .splide__list > .bg-li  {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#landing-page > .splide__track > .splide__list > .bg-li > .landing-bg-overlay > h1 {
    font-size: 80px;
    color: white;
}


#what-we-deal-with {
    margin-top: 20px;
}


#what-we-deal-with > div.wrapper > ul > li.deal-with-bg {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    width: 250px;
    height: 150px;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 20px;
}


#what-we-deal-with > div.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#what-we-deal-with > div.wrapper > h2 {
    font-size: 30px;
    padding: 30px;
}

#what-we-deal-with > div.wrapper > ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    font-family: 'light';
}


#what-we-deal-with > div.wrapper > ul > .deal-with-bg > div.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
    border-radius: 20px;

}


#what-we-deal-with > div.wrapper > ul > .deal-with-bg > p {
    font-size: 30px;
    font-weight: bold;
    color: white;
    z-index: 1;
}

#featured-brands {
    background-color: black;
    border-radius: 10px;
    margin: 100px 0;
}


#featured-brands > .wrapper > h2 {
    font-size: 30px;
    text-align: center;
    color: white;
    padding-top: 50px;
}

#featured-brands > .wrapper > .splide {
    padding: 50px 0;

}

#featured-brands > .wrapper > .splide > .splide__track {

}

#featured-brands > .wrapper > .splide > .splide__track > .splide__list {

}

#featured-brands > .wrapper > .splide > .splide__track > .splide__list > .deal-with-bg {
    background-color: white;
    /* margin: 20px; */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}

#featured-brands > .wrapper > .splide > .splide__track > .splide__list > .deal-with-bg > .brand-logo {
    display: flex;
    justify-content: center;
}

#featured-brands > .wrapper > .splide > .splide__track > .splide__list > .deal-with-bg > .brand-logo > img {
    width: 250px;
    height: 150px;
    object-fit: scale-down;
}

#contact-us {
}




#contact-us > .wrapper > .top {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 50px;

}



#contact-us > .wrapper > .bottom {
    display: flex;
    justify-content: center;
    /* background: #f0f0f0; */
    background: black;
    color: black;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#contact-us > .wrapper > .bottom > .left {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
    width: 60%;

}

#contact-us > .wrapper {
    padding: 0 200px;
}

#contact-us > .wrapper > .bottom > .left > .map-image {
    width: 90%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;

    
}

#contact-us > .wrapper > .bottom > .left > .map-image > a > img {
    border-radius: 20px;
    
}

#contact-us > .wrapper > .bottom > .right {
    display: flex;
    align-items: center;
    padding: 50px 50px 50px 0;
    width: 40%;
    justify-content: center;

}

#contact-us > .wrapper > .bottom > .right > .contact-us-ul {

}

#contact-us > .wrapper > .bottom > .right > .contact-us-ul {

}

.common-contact-us-li > .top > div.common-contact-us-data > h4 {
    margin-bottom: 10px;
    font-size: 25px;
    padding: 10px 0;

}

.common-contact-us-data > p {
    margin-top: 10px;
    margin-bottom: 10px;
}




.common-contact-us-data > p.address-text {
    line-height: 30px;
    font-size: 20px;
}

.common-contact-us-li {
    border-bottom: 2px solid white;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.common-contact-us-li > .top {
    display: flex;
}

.common-contact-us-li > .top > .common-li-icon {
    width: 40px;
    margin-right: 10px;
}

.footer-main {
    padding: 30px 0;
    background-color: black;
}

.footer-main > .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: 'light';
}
@media (max-width: 480px) {
    header {
        height: 50px;
    }

    header > .wrapper > .left > .logo-wrapper > .logo-container {
        width: 40px;
    }
    header > div.left {
        width: 100%;
    }

    header > div.left > div.logo-wrapper {
        justify-content: space-between;

    }

    #landing-page > .splide__track > .splide__list > .bg-li {
        height: calc(100vh - 50px);
    }

    #landing-page > .splide__track > .splide__list > .bg-li > .landing-bg-overlay > h1 {
        font-size: 30px;
        text-align: center;
    }

    header > .wrapper > .right > ul {
        display: none;
    }

    .address {
        display: block;
    }

    .address > .left {
        display: flex;
        justify-content: center;
    
    }

    div.address > div.right > p {
        text-align: center;
    }

    #contact-us > .wrapper > .bottom {
        justify-content: center;
        flex-wrap: wrap;
        border-radius: 0px;
        padding: 50px 0;
    }

    .address > .right > .address-text  {
        margin-left: unset;
        padding: 0 10px;
    }

    #contact-us > .wrapper > .top {
        margin-bottom: 30px;
        font-size: 30px;
    }

    #what-we-deal-with > div.wrapper > ul {
        width: 100%;
    }

    .wrapper {
        padding: unset;
    }

    #featured-brands {
        margin: 50px 0;
    }

   

    #contact-us > .wrapper > .bottom > .left {
        margin-right: unset;
        padding: 10px;
        width: 100%;
    }

    .footer-main > .wrapper {
        padding: 0 20px;
    }

    div.footer-main > div.wrapper > div.left > h2 {
        font-size: 15px;
    }

    #contact-us > .wrapper {
        padding: unset;
    }

    #contact-us > .wrapper > .bottom > .right {
        width: 100%;
        padding: 0 30px;
    }

    
  }