* {
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: 'shameem';
    font-style: light;
    src: url('../fonts/JosefinSans-Light.ttf') format('ttf')

}

body {
    font-family: 'shameem';
}

img {
    width: 100%;
    display: block;
}

a {
    color: black;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 2px solid black;
    height: 100px;
}

header > .left > .logo-container {
    width: 90px;
}

header > .right > ul {
    display: flex;
}

header > .right > ul > li {
    margin-right: 15px;
}

#landing-page > .splide__track > .splide__list > .bg-li  {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: calc(100vh - 105px);
}


#what-we-deal-with {
    margin-top: 20px;
}

#what-we-deal-with > div.wrapper > ul > li.deal-with-bg {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    width: 250px;
    height: 150px;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#what-we-deal-with > div.wrapper > ul > li.deal-with-bg:hover {
    background-image: none !important;
}

#what-we-deal-with > div.wrapper > ul > li.deal-with-bg > a {
    display: block;
    width: 100%;
    text-align: center;
}

#what-we-deal-with > div.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#what-we-deal-with > div.wrapper > h2 {
    font-size: 60px;
    padding: 30px;
}

#what-we-deal-with > div.wrapper > ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
}